<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Projects_school_attendence</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>listeners.DB</listener-class>
  </listener>
  <filter>
    <filter-name>adminFilter</filter-name>
    <filter-class>filters.AdminLogin_Validation_Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminFilter</filter-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>staff_Filter</filter-name>
    <filter-class>filters.StaffLogin_Validation_Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>staff_Filter</filter-name>
    <url-pattern>/staffLoginServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>student_Filter</filter-name>
    <filter-class>filters.StudentLogin_Validation_Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>student_Filter</filter-name>
    <url-pattern>/studentLoginServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>servlets.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>staff</servlet-name>
    <servlet-class>servlets.StaffLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staff</servlet-name>
    <url-pattern>/staffLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>student</servlet-name>
    <servlet-class>servlets.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student</servlet-name>
    <url-pattern>/studentLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>